* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mate SC', serif;
}

body {
    background-color: rgb(248, 247, 247);
    margin: 0 auto;
}

.searchbar {
    display: flex;
    margin: 20px auto 10px;
    width: 600px;
    border: 3px solid grey;
    border-radius: 5px;
    padding: 8px;
}

.gallery {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-template-rows: 200px;
    grid-gap: 20px;
    max-width: 900px;
    margin: 0 auto; 
    justify-content: center;
}
